.thumbnail{
    padding: 0 10px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.thumbnail .info {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    width: 210px;
}

.thumbnail .info img{
    width: 36px;
    height: 36px;
    margin-right: 15px;
}

.thumbnail .info .video-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.thumbnail .info .video-content .video-name{
    color: #111;
}

.thumbnail .info .video-content .channel-name{
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.thumbnail .info .video-content .video-date-view{
    margin-top: 2px;
    font-size: 14px;
    color: #555;
}
